@font-face {
  font-family: "iconfont"; /* Project id 4923827 */
  src: url('iconfont.woff2?t=1747458195720') format('woff2'),
       url('iconfont.woff?t=1747458195720') format('woff'),
       url('iconfont.ttf?t=1747458195720') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e60d";
}

.icon-wangyiyun:before {
  content: "\e600";
}

.icon-wangyiyunyinle:before {
  content: "\eb7d";
}

